body {
  background-image: url(Images/firstLevel.png);

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.npc {
  position: absolute;
  width: 5%;
  height: 22%;
  cursor: pointer;
}

.npc1 {
  left: 34%;
  top: 38%;
}

.npc2 {
  left: 47.5%;
  top: 38%;
}

.npc3 {
  right: 34.2%;
  top: 38%;
}

.paper {
  position: absolute;
  width: 3%;
  height: auto;
  display: none;
}

@keyframes paper1Found {
  0% {
    position: absolute;
    left: 35%;
    top: 44%;
    width: 3%;
  }
  45% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  55% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  100% {
    position: absolute;
    top: 78.8%;
    left: 39%;
    width: 10%;
  }
}

.paper1Animation {
  animation-name: paper1Found;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes paper2Found {
  0% {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 44%;
    width: 3%;
  }
  45% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  55% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  100% {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
  }
}

.paper2Animation {
  animation-name: paper2Found;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes paper3Found {
  0% {
    position: absolute;
    right: 34.2%;
    top: 44%;
    width: 3%;
  }
  45% {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 15%;
  }
  55% {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 15%;
  }
  100% {
    position: absolute;
    top: 79.8%;
    right: 40.25%;
    width: 10%;
  }
}

.paper3Animation {
  animation-name: paper3Found;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.fullPaper {
  position: absolute;
  left: 40%;
  top: 80.5%;
  width: 18%;
  display: none;
}

@keyframes allPaperFound {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.paperAnimation1 {
  animation-name: allPaperFound;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes paperCenter {
  0% {
    position: absolute;
    left: 40%;
    top: 80.5%;
    width: 18%;
  }
  100% {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 72%;
  }
}

.paperAnimation2 {
  animation-name: paperCenter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.letterBox {
  display: none;
  position: absolute;
  top: 40%;
  left: 28%;
  width: 50%;
  height: 30%;
}

.letterBank {
  width: 100%;
  display: flex;
  height: 23.5%;
}

.emptySpots {
  width: 100%;
  margin-top: 12%;
  display: flex;
  height: 23.5%;
}

.letterSpot {
  background-image: url(Images/letterImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.letterSpot:hover {
  transform: translateY(15%);
}

.letter {
  cursor: grab;
}

.vaultArrival {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

.morseBookBox {
  width: 3%;
  height: 4%;
  display: none;
  position: absolute;
  left: 22%;
  top: 15%;
  z-index: 2;
  cursor: pointer;
}

.morseBook {
  width: 2.25%;
  height: auto;
  position: absolute;
  left: 22.5%;
  top: 15%;
  display: none;
}

@keyframes morseBookMovement {
  0% {
    position: absolute;
    left: 22.5%;
    top: 15%;
    width: 2.25%;
    z-index: 2;
  }
  45% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    z-index: 2;
  }
  55% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    z-index: 2;
  }
  100% {
    position: absolute;
    left: 3%;
    top: 80%;
    width: 10%;
    z-index: 2;
  }
}

.morseBookAnimation {
  animation-name: morseBookMovement;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.morseBookFinalPlace {
  position: absolute;
  left: 3%;
  top: 80%;
  width: 10%;
  z-index: 2;
}

.morseBookPages {
  width: 60%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.page2Btn {
  width: 5%;
  height: 5%;
  position: absolute;
  left: 55%;
  top: 78%;
  cursor: pointer;
  display: none;
}

.page1Btn {
  width: 5%;
  height: 5%;
  position: absolute;
  left: 38%;
  top: 78%;
  cursor: pointer;
  display: none;
}

.codeBtnBox {
  width: 18%;
  height: 37%;
  position: absolute;
  left: 41%;
  top: 54.5%;
  cursor: pointer;
  display: none;
}

.codeInterface {
  background-image: url("Images/codeInterfaceBackground.png");
  background-position: center;
  width: 40%;
  height: 39%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.codeInput {
  text-align: center;
  margin-top: 2%;
  text-transform: uppercase;
}

.submitCodeBtn {
  cursor: pointer;
  margin-top: 5%;
  padding: 3%;
  background-image: url("Images/codeInterfaceBackground.png");
  background-position: center;
  position: absolute;
  border: 4px solid black;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.morseBookExit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  cursor: default;
  color: #f2f2f2;
  display: none;
}

.codeInterfaceExit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  cursor: default;
  color: #f2f2f2;
  display: none;
}

.aerialViewBtn {
  text-align: center;
  width: 9%;
  height: 10%;
  position: absolute;
  right: 2%;
  top: 3%;
  cursor: pointer;
  background-image: url("Images/codeInterfaceBackground.png");
  background-position: center;
  border: 2px solid black;
  border-radius: 3px;
  opacity: 0.5;
  transition: 300ms;
  display: none;
}

.aerialViewBtn:hover {
  opacity: 1;
}

.gameComplete {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

@keyframes cinematicTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cinematicAnimation {
  animation-name: cinematicTransition;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
